<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Mbiz_Twitter for Magento.
 *
 * @license GPL-3.0
 * @author Jacques Bodin-Hullin <@jacquesbh> <j.bodinhullin@monsieurbiz.com> <@jacquesbh>
 * @category Mbiz
 * @package Mbiz_Twitter
 * @copyright Copyright (c) 2016 Monsieur Biz (http://monsieurbiz.com/)
 */
-->
<config>
    <modules>
        <Mbiz_Twitter>
            <version>0.1.0</version>
        </Mbiz_Twitter>
    </modules>
    <global>
        <models>
            <mbiz_twitter>
                <class>Mbiz_Twitter_Model</class>
            </mbiz_twitter>
        </models>
    </global>
    <default>
        <mbiz_twitter>
            <general>
                <oauth_access_token/>
                <oauth_access_token_secret/>
                <consumer_key/>
                <consumer_secret/>
            </general>
        </mbiz_twitter>
    </default>
</config>